@import "tailwindcss";

@layer base {
  * {
    font-family: sans-serif;
  }
}

.container {
  max-width: 1810px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bauhaus {
  font-family: 'Roboto', sans-serif;
}

@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.infinite-track {
  animation: infinite-scroll 30s linear infinite;
}

.infinite-track:hover {
  animation-play-state: paused;
}
